body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Oswald", sans-serif;
    height: 100%;
    min-height: 97vh;
    margin: 0;
}

h1{
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}

#input-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#check-btn{
    margin-left: 20px;
}

#city-input{
    font-family: "Caveat", sans-serif;
    font-size: 25px;
    font-weight: 800;
    width: 18vw;
    border-radius: 10px;
}

#check-btn{
    min-width: 90px;
    font-family: "Caveat", sans-serif;
    font-size: 25px;
    font-weight: 800;
    padding: 5px 10px;
    width: 8vw;
}

#weather-container{
    width: 95%;
    margin: 30px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.weather-block{
    width: 45%;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    padding: 10px 10px 10px 0;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    position: relative;
}

.weather-icon{
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
}

.date{
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 30px;
    margin: 15px 0;
    justify-self: center;
}

.temperature{
    font-size: 40px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
}

.feels-temperature{
    grid-column: 2/3;
    grid-row: 2/3;
}

.fa-wind{
    grid-row: 1/2;
    grid-column: 3/4;
}

.wind-speed{
    grid-row: 1/2;
    grid-column: 3/4;
    display: inline-block;
}

.text{
    font-size: 25px;
    margin: 0;
}

.summary{
    font-size: 20px;
}


.bodyDefault{
    background-image: url(./images/backgroundDefault.jpg);
}
.bodyNight{
    background-image: url(./images/backgroundNight.jpg);
}


.h1Default{
    color: #114D7A;
    text-shadow: 2px 2px 4px rgba(17, 77, 122, 1);
}
.h1Night{
    color: #EBEBEB;
    text-shadow: 2px 2px 4px rgba(235, 235, 235, 1);
}

.cityInputDefault{
    background-color: #9CD5FF;
    border: 2px solid #114D7A;
    color: #114D7A;
}

.cityInputNight{
    background-color: white;
    border: 2px solid #EBEBEB;
    color: black;
}

.checkBtnDefault{
    background-color: #9CD5FF;
    border: 2px solid #114D7A;
    color: #114D7A;
}

.checkBtnNight{
    background-color: white;
    border: 2px solid #EBEBEB;;
    color: black;
}

.weatherBlockDefault{
    background-color: rgba(156,213,255,0.5);
    border: 3px solid #114D7A;
}

.weatherBlockNight{
    background-color: rgba(235,235,235,0.5);
    border: 3px solid #EBEBEB;
}