body{
    background: linear-gradient(90deg, hsla(238, 100%, 81%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
    margin: 0;
    min-width: 600px;
    min-height: 100vh;
    position: relative;
    font-family: "Saira", sans-serif;
}

#map{
    width: 500px;
    height: 400px;
    border: 2px solid #696EFF;
    box-shadow: 1px -10px 100px 0px rgba(182, 185, 255, 1);
}

#map-puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#map, #place-to-match {
    margin: 5px;
    flex: 1;
}

#place-to-match {
    width: 500px;
    height: 400px;
    border: 2px solid #696EFF;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    box-sizing: border-box;
}

#btn-container {
    width: 700px;
    margin: 10px 0 0 10px;
    display: flex;
    justify-content: space-around;
}

.btn {
    background: linear-gradient(90deg, hsla(234, 80%, 88%, 1) 0%, hsla(340, 68%, 88%, 1) 50%, hsla(342, 72%, 85%, 1) 100%);
    border: 2px solid #696EFF;
    border-radius: 10px;
    font-size: 14px;
    padding: 0 20px;
    font-weight: 400;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    transition: 0.4s ease;
}

#raster-map {
    width: 1500px;
    height: 200px;
    margin: 10px 10px 0 10px;
    border: 2px solid #696EFF;
    background: linear-gradient(90deg, hsla(234, 80%, 88%, 1) 0%, hsla(340, 68%, 88%, 1) 50%, hsla(342, 72%, 85%, 1) 100%);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.usrLoc{
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
}

.slot {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px dashed #696EFF;
    background-color: rgba(255,255,255,0.1);
}

.tile {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    box-sizing: border-box;
    cursor: grab;
}

.tile.hidden {
    opacity: 0.3;
}

.tile canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.tile.correct{
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.5s ease;
}
